<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Tikin Store</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="../image/x-icon" href="img/favicon.png">
        <!-- Normalize CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
        <!-- Main CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
        <!-- Fontawesome CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/fonts/flaticon.css}">
        <!-- Full Calender CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/fullcalendar.min.css}">
        <!-- Animate CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}">
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        <!-- Modernize js -->
        <script type="text/javascript" src="../js/modernizr-3.6.0.min.js"></script>
        

    </head>
