<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<html>
    <th:block th:include="{/head :: head}"></th:block>

    <body>
      <div id="wrapper" class="wrapper bg-ash">
        <!-- Header Menu Area Start Here -->
        <header th:replace="header :: header"></header>
        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
          <!-- Sidebar Area Start Here -->
          <div th:include="sidebar :: sidebar"></div>
          <!-- Sidebar Area End Here -->
          <div class="dashboard-content-one">
            <!-- Breadcubs Area Start Here -->
            <div class="breadcrumbs-area">
              <h3>Admin</h3>
              <ul>
                <li>
                  <a href="#">Trang chủ</a>
                </li>
                <li>Admin</li>
              </ul>
            </div>
            <!-- Breadcubs Area End Here -->
            <!-- Dashboard summery Start Here -->
            <div class="row gutters-20">
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="dashboard-summery-one mg-b-20">
                  <div class="row align-items-center">
                    <div class="col-6">
                      <div class="item-icon bg-light-green ">
                        <i class="flaticon-classmates text-green"></i>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="item-content">
                        <div class="item-title">Sản phẩm</div>
                        <div class="item-number"><span class="counter" >150,000</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="dashboard-summery-one mg-b-20">
                  <div class="row align-items-center">
                    <div class="col-6">
                      <div class="item-icon bg-light-blue">
                        <i class="flaticon-multiple-users-silhouette text-blue"></i>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="item-content">
                        <div class="item-title">Khách hàng</div>
                        <div class="item-number"><span class="counter" >2,250</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Dashboard summery End Here -->
            <div class="breadcrumbs-area">

            </div>
            <div class="breadcrumbs-area">

            </div>
            <div class="breadcrumbs-area">

            </div>
            <div class="breadcrumbs-area">

            </div>
            <div class="breadcrumbs-area">

            </div>
            <div class="breadcrumbs-area">

            </div>
            <div class="breadcrumbs-area">
            </div>
          </div>
        </div>
        <!-- Page Area End Here -->
      </div>
      <!-- jquery-->
        <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <!-- Plugins js -->
        <script type="text/javascript" th:src="@{/js/plugins.js}"></script>
        <!-- Popper js -->
        <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
        <!-- Bootstrap js -->
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <!-- Counterup Js -->
        <script type="text/javascript" th:src="@{/js/jquery.counterup.min.js}"></script>
        <!-- Moment Js -->
        <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
        <!-- Waypoints Js -->
        <script type="text/javascript" th:src="@{/js/jquery.waypoints.min.js}"></script>
        <!-- Scroll Up Js -->
        <script type="text/javascript" th:src="@{/js/jquery.scrollUp.min.js}"></script>
        <!-- Full Calender Js -->
        <script type="text/javascript" th:src="@{/js/fullcalendar.min.js}"></script>
        <!-- Chart Js -->
        <script type="text/javascript" th:src="@{/js/Chart.min.js}"></script>
        <!-- Custom Js -->
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
    </body>
</html>
